@charset "UTF-8";
/*=======================
  header
=======================*/

.header {
	background: $accent2;

	&-inner {
		max-width: 980px;
		padding: 2rem 4vw;
		margin: 0 auto;
	}

	&-item {
		display: inline-block;
		&:not(:last-child) {
			margin-right: 1em;
		}
		a {
			color: #fff;
			font-weight: bold;
		}
	}
}